<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Quiz_web</title>
  </head>
  <body>
    <p>Admin-full: Ibrahim_quiz@admin   admin123</p>
    <p>Admin-mini: teacher@quiz.com   teacher123</p>
    <p>user: student@quiz.com   student123</p>
    <form method="post" action="/login">
      <p><input type="text" maxlength="40" size="20" name="email" placeholder="email address"></p>
      <p><input type="password" maxlength="40" size="20" name="password" placeholder="Password"></p>
      <p><input type="submit" value="Log in" ></p>
    </form>
  </body>

</html>
